/* Beginning of header section  */
nav  {
  background-color: #403345;
}

#navContainer {
  display: flex;
  justify-content: space-between;
}

#title {
  padding-top: 10px;
  color: #fff;
}

i {
  color: #fff;
}

.fas {
  padding-right: 20px;
}
/* End of Header section  */

/* Beginning of Orders section  */

#tabs {
  display: flex;
  background-color: #342A39;
  justify-content: space-around;
  color: #00C485;
  padding-top: 20px;
}

#active, #completed {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#active:hover, #completed:hover {
  cursor: pointer;
}

#active {
  border-bottom: 3px solid #00C485;
}

.completedCounter, .activeCounter {
  color: #fff;
  width: 30px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5%;
  padding-top: 3px;
}

.activeCounter {
  background-color: #D9005D;
}

.completedCounter {
  background-color: #00C485;
}
/* End of Orders section  */
